extends ./layout.jade
block content         
  .row.collapse.small-uncollapse.banner
    .large-12.columns
      .row
        .large-12.columns
          h2.small-text-center.medium-text-left.large-text-left Hi 
            = user.username
            | !
      |                 
      .row.collapse.small-uncollapse
        .large-12.columns
          p Create character and other options to go here.
            

