extends ./layout.jade
block content
  .row.collapse.small-uncollapse.banner
    .large-12.columns
      .row
        .large-12.columns
          h2.small-text-center.medium-text-left.large-text-left Success
      .row.collapse.small-uncollapse
        .large-12.columns
          p Thank you for signing up to Twitch Battles. Please find your activation code below.
      .row.collapse.small-uncollapse.code
        .large-12.columns
          h3.wrap-text
            = verification
      .row.collapse.small-uncollapse
        .large-12.columns
          p
           | To activate your account, please go back to chat and register for battle with the Twitch Battle bot. You will then get a verification message from the bot confirming your registration.
      .row.collapse.small-uncollapse.code
        .large-12.columns
          p.wrap-text.code
            | !battle register 
            = verification
      .row.collapse.small-uncollapse.code
        .large-2.columns.end
          a.button.button-primary(href='/') Home