extends ./layout.jade 
block content       
  .row.collapse.small-uncollapse.banner
    .large-12.columns
      .row
        .large-12.columns
          h2.small-text-center.medium-text-left.large-text-left Client Download
      |                 
      .row.collapse.small-uncollapse
        .large-12.columns
          p
            | The game client is still under development, please check back soon, or alternatively see the progress on 
            a(href='https://github.com/enBask/twitchBattles') Github