extends ./layout.jade 
block content           
  .row.collapse.small-uncollapse.banner
    .large-12.columns
      .row
        .large-12.columns
          h2.small-text-center.medium-text-left.large-text-left A community designed and developed multiplayer strategy-based combat game
      |                 
      .row.collapse.small-uncollapse
        .large-3.medium-6.columns
          a.button.button-primary(href='/register') Sign Up
        |                     
        .large-3.medium-6.columns.end
          a.button.button-secondary(href='https://github.com/enBask/twitchBattles/', target='_blank') View on Github
