doctype html.no-js(lang='en')
head
    meta(charset='utf-8')
    |         
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |         
    title Twitch Battles - #{title} | Are you ready?
    |         
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
    |         
    link(rel='stylesheet', href='/public/css/foundation.css')
    |         
    link(rel='stylesheet', href='/public/css/twitchbattles.css')
    |         
    script(src='/public/js/vendor/modernizr.js')
  body
    .row.collapse.small-uncollapse.top-bar
      .large-6.columns
        h1.medium-text-center
          a(href='/')
            img(src='/public/img/logo.png', alt='Twitch Battles')
      |             
      nav.large-6.columns
        .row.collapse.small-uncollapse
          .medium-2.columns
            a.button.button-secondary(href='/faq') FAQ
          |                     
          .medium-3.columns
            a.button.button-secondary(href='/download') Download
          |                     
          .medium-3.columns
            if user
              a.button.button-secondary(href='/logout') Logout
            else
              a.button.button-secondary(href='/login') Login
          |                     
          .medium-4.columns.end
            if user
              a.button.button-primary(href='/my-account') Account
            else
              a.button.button-primary(href='/register') Sign Up
    |         
    block content         
    .row.countdown
      .large-12.columns
        h3.game-status No battles are available at this time, please check back later.
          span.game-countdown 
    |         
    script(src='/public/js/vendor/jquery.js') 
    script(src='/public/js/foundation.min.js') 
    script(src='/public/js/foundation/foundation.alert.js') 
    script(src='/public/js/twitchbattles.js')     
    block scripts
    script.
      jQuery(document).foundation();
    script.
      var TwitchBattlesCountdown = new TwitchBattles.Countdown('#{gamestate_url}');
