extends ./layout.jade 
block content           
  .row.collapse.small-uncollapse
    .medium-6.small-centered.medium-centered.large-centered.columns.banner
      .row
        .large-12.columns
          h2.small-text-center.medium-text-left.large-text-left Login
      |                 
      .row.collapse.small-uncollapse
        .large-12.columns
          form(action='/login' method='POST')
            if error
              .row.collapse
                .large-12.columns
                  .alert-box.alert(data-alert)
                    = error
                    a(href='#' class='close')&times;
            .row.collapse
              .large-12.columns
                label
                  | Username:
                  input(type='text', name='username', placeholder='Username')
            |                             
            .row.collapse
              .large-12.columns
                label
                  | Password:
                  input(type='password', name='password', placeholder='********')    
            .row.collapse
              .large-12.columns
                label
                  | Service:
                  select(name='service')
                    option(value='twitch') Twitch
                    option(value='lctv') Livecoding.tv                  
            input.button.button-primary(type='submit', value='Login')
block scripts
  script.
    var twitchBattlesLogin = new TwitchBattles.Login();   