extends ./layout.jade 
block content           
  .row.collapse.small-uncollapse
    .medium-6.small-centered.medium-centered.large-centered.columns.banner
      .row
        .large-12.columns
          h2.small-text-center.medium-text-left.large-text-left Sign up
      |                 
      .row.collapse.small-uncollapse
        .large-12.columns
          form(action='/register' method='POST')
            .row.collapse
              .large-12.columns
                label
                  | Username:
                  input(type='text', name='username' placeholder='Twitch or Livecoding.tv username')
            .row.collapse
              .large-12.columns
                label
                  | Password:
                  input(type='password', name='password', placeholder='********')
            .row.collapse
              .large-12.columns
                label
                  | Password confirmation:
                  input(type='password', name='passwordconfirm', placeholder='********')
            .row.collapse
              .large-12.columns
                label
                  | Service:
                  select(name='service')
                    option(value='twitch') Twitch
                    option(value='lctv') Livecoding.tv
            input(type='hidden', name='_csrf', value='#{csrfToken}')
            input.button.button-primary(type='submit', href='/register', value='Sign Up')
            p.password-notice
              | Please do 
              strong NOT
              |  use the same password as your Twitch or Livecoding.tv password!
block scripts
  script.
    var twitchBattlesRegistration = new TwitchBattles.Registration();
