.banner {
    background: #3d3d3d;
}

.banner .row .columns .button {
    margin-bottom: 0;
    display:block;
}

.banner .row h2 {
    margin-bottom: 2rem;
}

.button-secondary, .button-secondary:hover, .button-secondary:focus {
    colour: #FFF;
    background: none;
}

h1, h2, h4, h5, h6 {
    font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 100;
}

h3 {
    font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
}

nav {
    margin-top: 1rem;
}

nav .row .columns a {
    display:block;
}

.row.countdown {
    border-top: 1px solid #6441a5;
    border-bottom: 1px solid #6441a5;
    margin: 5rem auto;
}

.row.countdown h3 {
    margin: 2rem 0;
    text-align:center;
}

p.password-notice {
    margin-top: 2rem;
    margin-bottom: 0;
    text-align:center;
}

p {
    font-weight: 100;
}

.row.collapse.code {
    margin: 2rem 0;
}

input[type="submit"].button {
    display:block;
    width: 100%;
}

.button[disabled="disabled"] {
    cursor: not-allowed;
}

.wrap-text {
    word-wrap: break-word;
}

input.invalid {
    border: 2px solid rgba(198, 15, 19, 1.0);
    background: rgba(240, 210, 211, 1);
}

input.valid {
    border: 2px solid rgba(93, 164, 35, 1.0);
}

/* Small Screens */
@media only screen {
    .banner {
        margin-top: inherit;
    }
}

/* Medium Screens */
@media only screen and (min-width: 40.063em) { 
    .banner {
        margin-top: inherit;
        padding: 4rem 2rem;
    }
}
/* Large Screens */
@media only screen and (min-width: 64.063em) {
    .banner {
        margin-top: 4rem;
        padding: 4rem 2rem;
    }
    .top-bar {
        margin-top: 4rem;
    }
}